<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doutown.clubmember.dao.ClubMemberMapper">

    <resultMap id="ClubMemberResult" type="ClubMemberDTO">
        <id property="studentNo" column="STUDENT_NO"/>
        <result property="clubNo" column="CLUB_NO"/>
        <result property="clubGrade" column="CLUB_GRADE"/>
        <result property="joinDate" column="JOIN_DATE"/>
        <result property="selfintro" column="SELFINTRO"/>

        <association property="studentDTO" javaType="com.doutown.member.dto.StudentDTO">
            <id property="studentNo" column="STUDENT_NO"/>
            <result property="studentName" column="STUDENT_NAME"/>
            <result property="hakNumber" column="HAK_NUMBER"/>
            <result property="memberNo" column="MEMBER_NO"/>
        </association>
    </resultMap>

    <select id="find" resultType="ClubMemberDTO" resultMap="ClubMemberResult">
        SELECT * FROM CLUB_MEMBER
    </select>

    <select id="findByNo" resultType="ClubMemberDTO" parameterType="Long" resultMap="ClubMemberResult">
        SELECT * FROM CLUB_MEMBER WHERE STUDENT_NO=#{studentNo}
    </select>

    <insert id="save" parameterType="ClubMemberDTO">
        INSERT INTO CLUB_MEMBER VALUES(#{studentNo}, #{clubNo}, DEFAULT)
    </insert>

</mapper>
