<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doutown.clubmember.dao.ClubMemberMapper">

    <resultMap id="ClubMemberResult" type="ClubMemberDTO">
        <id property="clubMemberNo" column="CLUBMEMBERNO"/>
        <result property="studentNo" column="STUDENT_NO"/>
        <result property="clubNo" column="CLUB_NO"/>
        <result property="clubGrade" column="CLUB_GRADE"/>
        <result property="joinDate" column="JOIN_DATE"/>
        <result property="selfintro" column="SELFINTRO"/>
        <result property="status" column="STATUS"/>
    </resultMap>

    <!-- 특정 동아리의 동아리원 목록 조회 -->
    <select id="find" resultType="ClubMemberDTO" resultMap="ClubMemberResult">
        SELECT * FROM CLUB_MEMBER WHERE STATUS="Y" AND CLUB_NO=#{clubNo}만
    </select>

    <!-- 특정 동아리의 동아리원 상세 조회 -->
    <select id="findByNo" resultType="ClubMemberDTO" parameterType="Long" resultMap="ClubMemberResult">
        SELECT * FROM CLUB_MEMBER WHERE STATUS="Y" AND CLUB_NO=#{clubNo} AND STUDENT_NO=#{studentNo}
    </select>

    <!-- 동아리 가입 신청 -->
    <insert id="save" parameterType="ClubMemberDTO">
        INSERT INTO CLUB_MEMBER(STUDENT_NO,CLUB_NO,CLUB_GRADE,JOIN_DATE,SELFINTRO,STATUS) VALUES(#{studentNo}, #{clubNo}, DEFAULT, now(),#{selfintro},DEFAULT)
    </insert>

    <!-- 동아리 가입 승인 -->
    <update id="updateClubMember" parameterType="Long">
        UPDATE CLUB_MEMBER SET STATUS="Y" WHERE STUDENT_NO=#{studentNo}
    </update>

</mapper>
