<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doutown.club.dao.ClubMapper">

    <resultMap id="ClubResult" type="ClubDTO">
        <id property="clubNo" column="CLUB_NO"/>
        <result property="openDate" column="OPEN_DATE"/>
        <result property="clubName" column="CLUB_NAME"/>
        <result property="clubStatus" column="CLUB_STATUS"/>
        <result property="clubCancel" column="CLUB_CANCEL"/>
        <result property="cancelReason" column="CANCEL_REASON"/>
        <association property="studentDTO" resultMap="StudentResult"/>
    </resultMap>

    <resultMap id="StudentResult" type="com.doutown.member.dto.StudentDTO">
        <id property="studentNo" column="STUDENT_NO"/>
    </resultMap>

    <select id="find" resultType="ClubDTO" resultMap="ClubResult">
        SELECT
            c.CLUB_NO,
            c.OPEN_DATE,
            c.CLUB_NAME,
            c.CLUB_STATUS,
            c.CLUB_CANCEL,
            c.CANCEL_REASON,
            s.STUDENT_NO
        FROM CLUB c JOIN STUDENT s ON c.STUDENT_NO = s.STUDENT_NO;
    </select>

    <select id="findByNo" resultType="ClubDTO" parameterType="Long" resultMap="ClubResult">
        SELECT * FROM CLUB WHERE CLUB_NO=#{clubNo}
    </select>

    <insert id="save" parameterType="ClubDTO">
        INSERT INTO CLUB(OPEN_DATE,CLUB_NAME,CLUB_STATUS)
        VALUES(now(),#{clubName},DEFAULT)
    </insert>

    <delete id="deleteClub" parameterType="Long">
        DELETE FROM CLUB WHERE CLUB_NO=#{clubNo}
    </delete>

</mapper>
