<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doutown.member.dao.MemberMapper">

    <resultMap id="MemberResult" type="MemberDTO">
        <id property="memberNo" column="MEMBER_NO"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="memberPass" column="MEMBER_PASS"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="memberGrade" column="MEMBER_GRADE"/>
        <result property="studentStatus" column="STUDENT_STATUS"/>
        <result property="registDate" column="REGIST_DATE"/>
        <association property="studentDTO" resultMap="StudentResult"/>
    </resultMap>

    <resultMap id="StudentResult" type="StudentDTO">
        <id property="studentNo" column="STUDENT_NO"/>
        <result property="studentName" column="STUDENT_NAME"/>
        <result property="hakNumber" column="HAK_NUMBER"/>
        <result property="memberNo" column="MEMBER_NO"/>
        <result property="departmentCode" column="DEPARTMENT_CODE"/>
    </resultMap>

    <select id="findByMember" parameterType="Map" resultType="boolean">
        SELECT COUNT(*) FROM member WHERE MEMBER_ID=#{memberId} AND MEMBER_PASS=#{memberPass}
    </select>

    <select id="find" resultType="MemberDTO" resultMap="MemberResult">
        SELECT m.*,s.* FROM MEMBER m JOIN STUDENT s ON m.MEMBER_NO=s.MEMBER_NO
    </select>

    <select id="findByMemberNo" parameterType="Long" resultType="MemberDTO" resultMap="MemberResult">
        SELECT * FROM MEMBER WHERE MEMBER_NO=#{memberNo}
    </select>

    <select id="findStudentAll" parameterType="StudentDTO" resultMap="StudentResult">
        SELECT * FROM STUDENT
    </select>

    <select id="findByStudentNo" parameterType="Long" resultType="StudentDTO" resultMap="StudentResult">
        SELECT * FROM STUDENT WHERE STUDENT_NO=#{studentNo}
    </select>

    <insert id="save" parameterType="MemberDTO" useGeneratedKeys="true" keyProperty="memberNo">
            INSERT INTO member(MEMBER_NAME,MEMBER_ID,MEMBER_PASS, MEMBER_GRADE,STUDENT_STATUS,REGIST_DATE)
            VALUES(#{memberName},#{memberId},#{memberPass},default,default,now());
    </insert>

    <delete id="deleteMember" parameterType="String">
        DELETE FROM MEMBER WHERE MEMBER_NAME=#{memberName}
    </delete>

    <update id="updateMember" parameterType="MemberDTO">
        UPDATE MEMBER SET STUDENT_STATUS=#{studentStatus}
    </update>

    <insert id="insertStudent" parameterType="StudentDTO">
        INSERT INTO
        STUDENT(STUDENT_NAME, HAK_NUMBER, MEMBER_NO, DEPARTENT_CODE)
        VALUES(#{studentName}, #{hakNumber}, #{memberNo}, #{departmentCode})
    </insert>

</mapper>
